html {
  font-size: 14px;
}
Body {
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  margin: 0;
  padding: 0;
  background-color: #fff;
  /*     
  background-image: linear-gradient(
      135deg,
      transparent 100%,
      #fff 100%,
      transparent 100%
      
    ),
    
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAIklEQVQoU2N89+7dfwYsQEhIiBEkzDgkFGDzAbIY2Cv4AACvrBgJjYNGfwAAAABJRU5ErkJggg==); */
};